.contenedor-carrito {
    display: flex;
    justify-content: center;
    margin: 31px 0px 45vh;
}



.contenedor-prod-carrito {
    margin-right: 20px;
    padding: 20px;
    background-color: #1a1919;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.contenedor-prod-carrito h1 {
    font-size: 22px;
    border-bottom: solid #5d5d5d;
    display: inline-flex;
    padding-bottom: 5px;
}


.contenedor-prod-carrito img {
    width: 150px;
    padding: 6px;
    border-radius: 10px;
}

.contenedor-prod-carrito ul {
    display: flex;
    border-radius: 5px;
    min-width: 509px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background: #2e2e2e;
    margin: 15px 0px;
}

.contenedor-prod-carrito ul li {
    display: flex;
}

.contenedor-pago-carrito {
    background-color: gray;
}

.contenedor-carrito-vacio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 183px;
}

.icono-carrito-vacio {
    font-size: 60px;
    margin: 15px 0px;
}


.contenedor-carrito-vacio h1{
    margin: 10px 0px;
    font-size: 25px;
}

.contenedor-carrito-vacio p {
    margin: 10px 0px;
}

.contenedor-carrito-vacio button {
    background-color: white;
    color: black;
    margin: 10px 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: .5s all;
    padding: 8px;
}

.contenedor-carrito-vacio button:hover,
.contenedor-carrito-vacio button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em  white;
    transform: translateY(-0.25em);
}

.informacion {
    margin: 10px;
    font-weight: bold;
    font-size: 19px;
    min-width: 295px
}

.informacion p:nth-child(2) {
    font-size: 15px;
}

.contenedor-precio-prod {
    display: flex;
    margin: 0px 15px;
    align-self: center;
    min-width: 183px;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.contenedor-precio-prod p {
    margin: 30px 0px;
    font-size: 22px;
}

.contenedor-precio-prod button {
    font-size: 20px; 
    color: gray;
    transition: .5s all;
    box-shadow: rgb(23 23 38 / 44%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px
}

.contenedor-precio-prod button:hover {
    color: white;
}

.contenedor-pago-carrito {
    background-color: #232222;
    min-width: 365px;
    max-height: 23pc;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 20px;

}

.contenedor-pago-carrito h3 {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.info-resumen-carrito {
    background-color: #313030;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.subtotal,
.impuestos,
.envios,
.precio-total {
    display: flex;
    margin: 10px 0px;
    justify-content: space-between;
}

.subtotal span:nth-child(2),
.impuestos span:nth-child(2),
.envios span:nth-child(2) {
    font-size: 20px;
}

.precio-total {
    padding: 10px;
}

.precio-total span:nth-child(1){
    font-size: 22px;
}

.precio-total span:nth-child(2) {
    font-size: 25px;
}

.boton-comprar {
    background-color: white;
    color: black;
    padding: 10px;
    width: 100%;
    box-shadow: rgb(0, 0, 0) 0px 3px 8px;
    transition: .5s all;
    margin: auto;
}

.boton-comprar:hover, 
.boton-comprar:focus {
    box-shadow: 0 0.5em 0.5em -0.4em  white;
    transform: translateY(-0.25em);
}

.contenedor-borrar-carrito {
    display: flex;
    justify-content: flex-end;
}

.contenedor-borrar-carrito button {
    padding: 5px;
    background-color: none;
    border: solid 1px white;
}

.info-icono-exclamacion {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 5px;
}



.info-icono-exclamacion span {
    margin: 0px 5px;
    font-size: 14px;
}


.contenedor-borrar-carrito button {

    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #2e2e2e;
}

.contenedor-borrar-carrito button, button span {
    transition: 200ms;
}

.contenedor-borrar-carrito button .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

.contenedor-borrar-carrito button .icon {
    position: absolute;
    border-left: 1px solid  gray;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contenedor-borrar-carrito button svg {
    width: 15px;
    fill: #eee;    
}

.contenedor-borrar-carrito button:hover {
    background-color: #2e2e2e;
}

.contenedor-borrar-carrito button:hover .text {
    color: transparent;
}

.contenedor-borrar-carrito button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

.contenedor-borrar-carrito button:focus {
    outline: none;
}

.contenedor-borrar-carrito button:active .icon svg {
    transform: scale(0.8);
}