.contenedor-clasificacion {
    display: flex;
    margin: 25px 0px;
    margin-bottom: 0px;

}

.contenedor-info-clasificacion {
    max-width: 15%;
    margin: 0px 10px;
}

.contenedor-info-clasificacion p {
    font-size: 15px;
}

@media screen and (max-width: 900px) {
    .contenedor-info-clasificacion {
        max-width: fit-content;
    }

    .contenedor-info-clasificacion p {
        font-size: 12px;
    }
}