.contenedor-contadores {
    margin: 20px 0px;
    display: grid;
    justify-items: center;
}

.contenedor-contadores p {
    font-size: 15px;
}

.contenedor-contadores button {
    margin: 0px 10px;
    font-size: 20px;
}

.contenedor-contadores span {
    font-size: 30px;
}

.contenedor-boton-comprar button{
    width: 100%;
    padding: 10px;
    font-weight: 800;
    background: white;
    transition: .5s all;
    color: black;
    border: solid 1px;
}

.contenedor-boton-comprar button:hover {
    background: none;
    color: white;
}