
.descripcion-1 {
    margin: 20px;
    background-color: #1a1a1a;
    box-shadow: rgba(0, 0, 0, 0.724) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 20px;
}

.portada-descripcion img {
    filter: blur(5px
    );
    width: 100%;
}


.descripcion h3 {
    font-size: 25px;

}


.contenedor-descripcion-prod h3 {
    font-size: 22px;
}



.contenedor-imagen-descripcion h3 {
    font-size: 22px;
}

.contenedor-descripcion {
    display: flex;
    margin: 15px 0px;
    justify-content: space-between;
}

.contenedor-imagen-descripcion img {
    width: 250pc;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.contenedor-descripcion-prod {
    margin-right: 60px;
}

.contenedor-descripcion {
    display: flex;
    /* position: absolute; */
    align-items: center;
    margin: 15px 51px;
    justify-content: space-between;
    top: 19%;
}

.contenedor-descripcion h3 {
    margin-bottom: 10px;
}

.contenedor-imagen-descripcion iframe {
    border-radius: 10px;
}

.contenedor-valoracion{
    display: flex;  
    align-items: baseline;
}

.contenedor-valoracion p {
    display: flex;
    margin: 0px 5px;
    font-size: 20px;
}

.contenedor-valoracion p:nth-child(3) {
    font-size: 15px;
}


.contenedor-valoracion svg {
    font-size: 15px;
}

.contenedor-desarrollador {
    margin: 20px 0px ;
    display: flex;
    justify-content: space-between;
}

.contenedor-desarrollador p {

    font-weight: 900;
}


.contenedor-trailer-movil {
    display: none;
}

@media screen and (max-width: 1200px) {
    .contenedor-trailer iframe{
        width: 500px;
    }

    .contenedor-descripcion {
        margin: auto 16px;
    }

}

@media screen and (max-width: 1100px) {
    .contenedor-descripcion {
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 650px) {

    .descripcion-1 {
        padding: 20px 10px;
        margin: 10px;
    }

    .contenedor-desarrollador {
        margin: 20px 0px;
    display: flex;
    font-size: 12px;
    flex-direction: row-reverse;
    }


    .contenedor-imagen-descripcion {
        margin: auto;
        width: auto;
    }

    .contenedor-trailer {
        width: auto;
        display: flex;
    }


    .contenedor-trailer iframe {
        max-width: max-content;

    }

    .contenedor-trailer div {
        width: auto;
        height: auto;

        
    }

    .contenedor-trailer-movil {
        display: block;
    }

    .contenedor-trailer-movil iframe {
        width: auto;
    }

    .contenedor-trailer {
        display: none;
    }
}