.descripcion {
    margin: 20px;
}

.descripcion {
    position: relative;
    margin: 0px;
}

.portada-descripcion img {
    filter: blur(5px
    );
    width: 100%;
}

.portada-descripcion {
    filter: brightness(0.3);
    overflow: hidden;
    max-height: 600px;
}

.descripcion h3 {
    font-size: 25px;

}

.contenedor-descripcion {
    display: flex;
    margin: 15px 0px;
    justify-content: space-between;
}

.contenedor-imagen-descripcion img {
    width: 250pc;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.contenedor-descripcion-prod {
    margin-right: 60px;
}

.contenedor-descripcion {
    display: flex;
    position: absolute;
    align-items: center;
    margin: 15px 51px;
    justify-content: space-between;
    top: 19%;
}

.contenedor-descripcion h3 {
    margin-bottom: 10px;
}

.contenedor-imagen-descripcion iframe {
    border-radius: 20px;
    /* box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px; */
}

.contenedor-valoracion{
    display: flex;  
    align-items: baseline;
}

.contenedor-valoracion p {
    display: flex;
    margin: 0px 5px;
    font-size: 20px;
}

.contenedor-valoracion p:nth-child(3) {
    font-size: 15px;
}


.contenedor-valoracion svg {
    font-size: 15px;
}

.contenedor-desarrollador {
    margin: 20px 0px ;
    display: flex;
    justify-content: space-between;
}

.contenedor-desarrollador p {
    font-weight: 900;
}