footer {
    background: #252424;
}

.contenedor-redes-logo a svg {
    font-size: 30px;
    transition: .5s all;
}

.contenedor-redes-logo a svg:hover {
    color: gray;
    
}


.contenedor-redes {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin: 0pc 0pc 15px;
}


.contenedor-redes a {
    font-size: 25px;
    transition: .5s all;
    margin-right: 15px;
}


.contenedor-redes a:hover {
        color: rgb(125, 124, 124);
}

/* .boton-suscribirse {
    color: black;
    background-color: white;
}


.boton-suscribirse:hover {
    background: #252424;
    border: none;
} */


.contenedor-autor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-redes-autor {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin: 10px 0px;
}

.contenedor-redes-autor a {
    margin: 0px 10px;
    padding: 10px;
    border-radius: 25px;
    border: solid 1px gray;    
    transition: .5s all ;
}

.contenedor-autor p {
    font-size: 20px;
    margin: 10px 0px;
}

.contenedor-redes-autor a:hover {
    color: rgb(125, 124, 124);

}