div {
    color: white;
}

.contenedor-header {
    background-color: #131313;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.contenedor-lista {
    background-color: #131313;

}

.contenedor-lista li {
    padding: 8px;
    border-radius: 5px;
    margin: 3px 0px;
    transition: .5s all ;
}

.contenedor-lista li:hover {
    background: #343434;
}

