.contenedor-imagen-portada {
    height: 300px;
    overflow: hidden;
    filter: brightness(0.5);
    
}

.contenedor-imagen-portada img {
    filter: blur(5px);
    width: 100%;
}


.contenedor-nav-detalle {
    margin-bottom: 0px;
    margin: 10px 0pc;
    color: darkgrey;
    display: flex;
    align-items: center;
    
}

.contenedor-nav-detalle svg {
    font-size: 20px;
}

.contenedor-nav-detalle span {
    transition: .5s all;
    font-weight: bold;
    cursor: pointer;
}

.contenedor-nav-detalle span:hover {
    color: white;
}

.contenedor-imagen-producto {
    width: 400px;
}

.contenedor-imagen-producto img {
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px; 
}

.contenedor-producto {
    box-shadow: -1px 2px 20px 0px black;
    padding: 22px;

}

.contenedor-informacion-producto {
    display: flex;

}

.contenedor-informacion {
    margin: 0px 30px;
    min-width: 40pc;

}

.contenedor-informacion h2 {
    margin: 0px 6px;
    font-size: 40px;
    justify-content: flex-start;
}

.contenedor-informacion h3 {
    font-size: 40px;
}


.categoria-genero {
    display: flex;
    align-items: center;
    margin: 5px 0px;

}

.categoria-genero span {
    margin: 0px 10px;
}

.categoria-genero svg {
    font-size: 5px;
    color: gray;
}

.contenedor-loader {
    position: fixed;
    width: 100%;
    background: black;
    height: 100%;

}

.contenedor-precio {
padding: 30px;
background-color: #1e1e1e;
min-width: 430px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.contenedor-precio h3 {
    font-size: 30px;
    display: inline;
}

.contenedor-precio-producto {
    display: flex;
    align-items: center;

}

.contenedor-precio-producto svg {
    margin: 0px 10px;
    font-size: 15px;
}


.contenedor-precio-producto span {
    font-size: 12px;
}

.contenedor-jugabilidad {
    margin: 0pc 7px;
}

.contenedor-jugabilidad p{
    margin: 15px 0px;
    display: flex;
    align-items: center;

}


.contenedor-jugabilidad p svg {
    margin: 0px 10px;
    font-size: 20px;
}


.titulo-detalle {
    display: flex;
    justify-content: center;
}



.titulo-detalle h2 {
    margin: 20px 0px 0px;
    border-bottom: solid;
}

.ir-a-carrito {
    display: flex;
    align-items: center;
    height: 100%;
}

.ir-a-carrito button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 800;
    background: white;
    color: black;
}

.ir-a-carrito svg {
    margin: 0px 5px;
}