@import url('https://fonts.cdnfonts.com/css/century-gothic');
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Century Gothic', sans-serif;
                                                
    /* font-family: 'Overdrive Sunset', sans-serif; */

}

body {
    background: #161616;
}